@import './home.css';
body {
	background: blue;
}
body .box{
	font-size:24px;
}
.img {
	width: 150px;
	height: 150px;
	background: url('../images/1.jpg') no-repeat center center;
	background-size: contain;
}